body {
    margin: 20px auto;
    max-width: 800px;
    font-family: sans;
}
code {
    white-space: pre-wrap;
    background: #222;
    color: #eee;
    display: block;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}
.logo {
    height: 1em;
    margin-bottom: -0.2em;
    margin-right: .2em;
}
.pre {
    font-family: monospace;
}
